<div class="zensark-home-main-container">
  <%= render 'layouts/leftnavbar' %>
  <div class="zensark-home-right-container">
    <div class="zensark-home-right-top-container">
      <div class="column-chart-container">
          <%= column_chart [["2021-01-01(Su)", 2], ["2021-01-02(Mo)", 3],["2021-01-03(Tu)", 4], ["2021-01-04(We)", 5],["2021-01-05(Th)", 6], ["2021-01-06(Fr)", 7],["2021-01-07(Sa)", 8]], height: "220px" %>
      </div>
      <div class="heading-container">
        <h1 class="attendace-heading">Attendance Details</h1>
      </div>
    </div>
    <div class="zensark-home-right-bottom-container">
      <div class="zensark-home-right-bottom-left-container">
        <div class="upcoming-leaves-container">
        </div>
        <div class="heading-container">
          <h1 class="leaves-heading">Upcoming leaves</h1>
        </div>
      </div>
      <div class="zensark-home-right-bottom-right-container">
        <div class="">
          <table class="table-container w-100 mt-0">
            <tr class="t-header-cotainer">
                <th class="t-header">Date</th>
                <th>Description</th>
            </tr>
            <% @upholidays.each do |h| %>
            
                <tr class="t-sub-container">
                    <td>
                    <%= h.date %>
                    </td>
                    <td>
                    <%= h.name%>
                    </td>
                    
                </tr>
            <% end %>
          </table>
        </div>
        <div class="heading-container">
          <h1 class="holidays-heading">Upcoming holidays</h1>
        </div>
      </div>
    </div>
  </div>
</div>

