<div class="designation-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="employee-management-right-container">
    <h1 class="employees-management-heading">Employees Management</h1>
    <div class="employee-management-search-container">
      <%= link_to "Add New Employee",new_user_path,  class: "btn employee-management-add-employee-button" %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Employee" aria-label="Search">
        <button class="btn employee-management-search-button" type="submit">Search</button>
      </form>
    </div>
    <%= render 'users/userstable' %>
  </div>
</div>



