<div class="designation-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="employee-management-right-container">
    <h1 class="employees-management-heading">Add New Employee</h1>
    <%= render 'form' %>
  </div>
</div>