<div class="home-main-container">
  <div class="home-card-container">
    <div class="home-descripton-container">
      <h1 class="home-heading">Digital Tranformation</h1>
      <p>We deliver custom solutions to enterprises using the latest technologies like AI, ML, IoT to achieve business innovation.</p>
      <div>
        <%= link_to "Get In Touch", dashboard_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="home-image-container">
    </div>
  </div>
</div>