.navigation-cutom-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

.dropdown-menu {
  margin-left: -150px !important;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-name {
  margin: 0px;
  font-weight: bold;
}

.zensark-logo {
  height: 35px;
}



.signin-button {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  font-size: 18px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
}





.profile-image {
  border-radius: 100px;
}