<div class="footer">
  <footer class="custom-footer">
    <small class="text-white">Copyright &copy; <%= link_to "Zensark Technologies", "https://zensark.com", class: "text-white" %></small>
  </footer>
</div>
