<div class="zensrk-home-left-container">
  <%= link_to "Dashborad", dashboard_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Attendance", attendance_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Leaves", leaves_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Settings", settings_path, class: "zensark-home-left-buttons"%>
</div>